#navbar {
    display: inline-block; 
    width: 100%;   
}

#header {
    float: left;
}

#timer {
    float: right;   
}

.content {
    
    display: block;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

#intro {
    text-align: center;
}

.answers {
    display: inline-grid;

}

.btn {
    margin-top: 10px;
}

