#navbar {
    display: inline-block; 
    width: 100%;   
}

#header {
    float: left;
}

#timer {
    float: right;   
}

.container {
    text-align: center;
    display: block;
    margin-top: 5%;
}

